<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.ParallelIndexing.Enabled" value="true" />
      <setting name="ContentSearch.DateFormat" value="yyyy-MM-dd'T'HH:mm:ss'Z'" />
    </settings>
    <solutionFramework>
      <indexing>
        <patch:attribute name="defaultProvider">fallback</patch:attribute>
        <providers>
          <add name="fallback" type="Assignment.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Assignment.Foundation.Indexing" />
        </providers>
      </indexing>
    </solutionFramework>
    <contentSearch>

      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="all_templates" returnType="stringCollection" fieldNameFormat="{0}_sm"  multiValued="true" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="has_presentation" returnType="bool" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="has_search_result_formatter" returnType="bool" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="search_result_formatter" returnType="string" storageType="YES" indexType="UNTOKENIZED" vectorType="NO"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="content_item_type" returnType="string" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="site_section" returnType="string" storageType="YES" indexType="UNTOKENIZED" vectorType="NO"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="pubdate" returnType="datetime" storageType="YES" indexType="UNTOKENIZED" vectorType="NO"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="all_tags" returnType="stringCollection" fieldNameFormat="{0}_sm"  multiValued="true" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <virtualFields type="Sitecore.ContentSearch.VirtualFieldProcessorMap, Sitecore.ContentSearch">
            <processors hint="raw:AddFromConfiguration">
              <add fieldName="content_type" type="Assignment.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Assignment.Foundation.Indexing"/>
            </processors>
          </virtualFields>
           <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="has_presentation" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="all_templates" storageType="YES" fieldNameFormat="{0}_sm"  multiValued="true" indexType="tokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.AllTemplatesComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="has_search_result_formatter" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.HasSearchResultFormatterComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="search_result_formatter" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="content_item_type" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.ContentItemTypeComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="site_section" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.SiteSectionComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="pubdate" storageType="YES" indexType="untokenized" >Assignment.Foundation.Indexing.Infrastructure.Fields.PublicationDateComputedField, Assignment.Foundation.Indexing</field>
              <field fieldName="all_tags" storageType="YES" fieldNameFormat="{0}_sm"  multiValued="true" indexType="tokenized">Assignment.Foundation.Indexing.Infrastructure.Fields.AllTagsComputedField, Assignment.Foundation.Indexing</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>

    </contentSearch>
  </sitecore>
</configuration>