<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <uiDragItemTo>
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="CheckPermissions" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="CheckShadows" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="Confirm" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="CheckLanguage" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="CheckLinks" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="Execute" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DragItemTo,Sitecore.Support.93741" method="RepairLinks" patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel']" />
      </uiDragItemTo>
    </processors>
  </sitecore>
</configuration>